grafana:
  adminPassword: "{{ grafana_admin_password }}"
  sidecar:
    datasources:
      searchNamespace: "ALL"
      exemplarTraceIdDestinations:
        datasourceUid: tempo
        traceIdLabelName: trace_id

prometheus:
  prometheusSpec:
    retention: 7d
